.artistDetails{
margin:0 auto;
margin-top:5rem;
margin-left:5rem;
display:grid;
width:90%;
grid-template-columns:1fr 5fr 1fr;
  
}
.artistCoverArt{
	height: 10rem;
	width: 10rem;
	border-radius: 0.8rem;
  border: 1px solid rgba(151,151,151,0.28);
}

.artistCoverArt>img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.artistInfo {
font-family: var(--font-display-3);
font-size:4rem;
padding-left:0.5rem;

}
.artistInfo h1{
font-size:4rem;
}
.artistInfo h5{
  font-size:1.8rem;
  font-weight:500;
  font-style:italic;
  font-family:var(--default-font)
}

.infoTable {
  font-family:var(--default-font);
	width:90%;
	border: 1px solid rgba(212,222,226,0.31);
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: var(	--box-shadow-1);
    border-collapse: collapse;
  margin:2.5rem auto;
}

.tableTitle{
  text-align:left;
  color:var(	--grey-color-1);
  padding:2rem 3rem;
  font-weight:500;
  font-size:1.8rem;
  border-bottom:1px solid #D4DEE2;
}
.infoTable td{
  table-layout: fixed;
  text-align:left;
  padding:2rem 3rem;
  font-size:1.4rem;
  border-bottom:1px solid #D4DEE2;
    border-collapse: collapse;

}
.artistBold{
  font-weight:bold;
}
.cps{
  width:3rem;
  height:3rem;
  background:var(--grey-color-7);
  border-radius:50%;
}
.suspendButton {
  display:flex;
  align-content:center;
  justify-content:center;
  height:4.8rem;
  width: 20.8rem;
  color:#000;
  font-size:1.6rem;
  cursor:pointer;
  background:#FFFFFF;
	border: 1px solid rgba(212,222,226,0.31);
	border-radius: 0.4rem;
box-shadow: 0 11px 14px 0 rgba(116,119,120,0.09);

}