//abstracts import
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';


@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

//base imports
@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

//shared components between components
@import 'sharedcomponents/burger';

//components
@import 'components/dashboard';


/**DELETE THIS WHEN YOU GET STARTED */

div.image-center {
	height: 40rem;
	width: 80rem;
	margin: 0 auto;
	& > img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

//GENERIC MEDIA QUERIES FOR TABLES AND COMMPONENTS

.artistDetails{

	@include respond(tab-land) {
			margin-top:0;
			margin-left:5em;
			width:90%;
		}
		@include respond(android-phone){
			grid-template-columns:1fr;
			width:100%;
			text-align:center;
			margin-left:0;
		}
	
	}
	.artistCoverArt{

		@include respond(android-phone){
			margin:0 auto;
		}
	}
	

	.artistInfo {

	@include respond(android-phone){
			padding-left:0;
			text-align:center
		}
	
	}
	
	.description{
		@include respond(phone) {
			margin:0 auto;
			width:90vw;
			overflow:visible;
		}
	}
	.infoTable {
	
		@include respond(tab-land) {
			width:100%;
		}
		@include respond(phone) {
			margin:0 auto;
			width:90%;
		}
		
	}
	

	.suspendButton {
		
	@include respond(android-phone){
		margin:1.5rem auto;
	}
	}

